In [1]:
import pandas as pd
import numpy as np
import nltk
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('words')
nltk.download('stopwords')
nltk.download('wordnet')
import enchant
d = enchant.Dict("en_US")
import string 
punctuations =string .punctuation 

# for retaining the names of places in the "text" feature
from geotext import GeoText
from nltk.util import ngrams

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\srija\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\srija\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\srija\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\srija\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\srija\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
df = pd.read_csv("train.csv")

In [4]:
test = pd.read_csv("test.csv")

In [5]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

### Missing value imputation

In [7]:
# print(df["keyword"].unique())
# print(df["location"].unique())
df["location"].fillna("",inplace=True)
df["keyword"].fillna("",inplace=True)
# there are no missing values now.

In [251]:
df["text"]

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [3]:
# word_count
df['word_count'] = df['text'].apply(lambda x: len(str(x).split()))
test['word_count'] = test['text'].apply(lambda x: len(str(x).split()))

# unique_word_count
df['unique_word_count'] = df['text'].apply(lambda x: len(set(str(x).split())))
test['unique_word_count'] = test['text'].apply(lambda x: len(set(str(x).split())))

# stop_word_count
STOPWORDS=stopwords.words('english')
df['stop_word_count'] = df['text'].apply(lambda x: len([w for w in str(x).lower().split() if w in STOPWORDS]))
test['stop_word_count'] = test['text'].apply(lambda x: len([w for w in str(x).lower().split() if w in STOPWORDS]))

# url_count
df['url_count'] = df['text'].apply(lambda x: len([w for w in str(x).lower().split() if 'http' in w or 'https' in w]))
test['url_count'] = test['text'].apply(lambda x: len([w for w in str(x).lower().split() if 'http' in w or 'https' in w]))

# mean_word_length
df['mean_word_length'] = df['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
test['mean_word_length'] = test['text'].apply(lambda x: np.mean([len(w) for w in str(x).split()]))

# char_count
df['char_count'] = df['text'].apply(lambda x: len(str(x)))
test['char_count'] = test['text'].apply(lambda x: len(str(x)))

# punctuation_count
df['punctuation_count'] = df['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))
test['punctuation_count'] = test['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))

# hashtag_count
df['hashtag_count'] = df['text'].apply(lambda x: len([c for c in str(x) if c == '#']))
test['hashtag_count'] = test['text'].apply(lambda x: len([c for c in str(x) if c == '#']))

# mention_count
df['mention_count'] = df['text'].apply(lambda x: len([c for c in str(x) if c == '@']))
test['mention_count'] = test['text'].apply(lambda x: len([c for c in str(x) if c == '@']))

NameError: name 'df' is not defined

In [253]:
# cols = ["word_count","unique_word_count","stop_word_count","url_count","mean_word_length","char_count","punctuation_count","hashtag_count","mention_count"]
# fig, ax = plt.subplots(len(cols),1,figsize=(10,6*len(cols)))
# j=0
# for i in cols:
#     (sns.countplot(x=i, hue="target", data=df,ax=ax[j]))
#     j+=1

### Duplicated tweets

In [17]:
print(df.shape)
df.drop_duplicates(subset="text",keep="first", inplace=True)
df.shape

(7613, 5)

(7503, 5)

In [261]:
# sns.catplot(x="target",y="number_of_words",data=df)
# # therefore of no use.

## Applying Filters to clean text
### Removing non alphanumerics and non special characters

In [5]:
import re
# re.sub("[^a-zA-Z0-9!@#$&()\\- :.+,/\"]", "", df["text"].iloc[38]),df["text"].iloc[38]

# ascii chracter filtered, mentions, urls
df["clean_text"]=df["text"].apply(lambda x: re.sub("[^a-zA-Z0-9!@$&()\\- :.+,/\"]|@([A-Za-z]+[A-Za-z0-9-_]+)|http([A-Za-z0-9-_.:?/]+)", "", x))

In [19]:
# print(df["ascii_text"].iloc[38],df["text"].iloc[38])
# print(df.iloc[7609]["text"],df.iloc[7609]["no_mentions_text"])
df

,id,keyword,location,text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,Our Deeds are the Reason of this earthquake Ma...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,Forest fire near La Ronge Sask. Canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,All residents asked to shelter in place are be...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive wildfires evacuation ord..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,Just got sent this photo from Ruby Alaska as s...
...,...,...,...,...,...,...
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1,WorldNews Fallen powerlines on G:link tram: UP...
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1,on the flip side Im at Walmart and there is a ...
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1,Suicide bomber kills 15 in Saudi security site...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,Two giant cranes holding a bridge collapse int...
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,The Latest: More Homes Razed by Northern Calif...

In [83]:
# We are going to change this to key: comedian, value: string format
def combine_text(list_of_text):
    '''Takes a list of text and combines them into one large chunk of text.'''
    combined_text = ' '.join(list_of_text)
    return combined_text

### Function to remove non english words.

In [84]:
def word_in_english_dictionary(list_of_text):
    '''Function which takes list of words as arguement and return list of only words present in english dictionary.'''
    word_list=[]
    for word in list_of_text:
        if d.check(word)==True:
            word_list.append(word)
    combined_text = ' '.join(word_list)
    return combined_text

### Step - a : Remove blank rows if any.

In [9]:
df['clean_text'].dropna(inplace=True)
df

,id,keyword,location,text,target,clean_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,Our Deeds are the Reason of this #earthquake M...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,Forest fire near La Ronge Sask. Canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,All residents asked to shelter in place are be...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,Just got sent this photo from Ruby #Alaska as ...
...,...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,Two giant cranes holding a bridge collapse int...
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1,The out of control wild fires in California ...
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,M1.94 01:04 UTC5km S of Volcano Hawaii.
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1,Police investigating after an e-bike collided ...
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,The Latest: More Homes Razed by Northern Calif...

In [116]:
df[df["clean_text"]==""]

Empty DataFrame
Columns: [id, keyword, location, text, target, clean_text]
Index: []

### Tokenize

In [10]:
# df["clean_text"] = [word_tokenize(entry) for entry in df['clean_text']]
# df["clean_text"]

0       [Our, Deeds, are, the, Reason, of, this, #, ea...
1        [Forest, fire, near, La, Ronge, Sask, ., Canada]
2       [All, residents, asked, to, shelter, in, place...
3       [13,000, people, receive, #, wildfires, evacua...
4       [Just, got, sent, this, photo, from, Ruby, #, ...
                              ...
7608    [Two, giant, cranes, holding, a, bridge, colla...
7609    [The, out, of, control, wild, fires, in, Calif...
7610    [M1.94, 01:04, UTC5km, S, of, Volcano, Hawaii, .]
7611    [Police, investigating, after, an, e-bike, col...
7612    [The, Latest, :, More, Homes, Razed, by, North...
Name: clean_text, Length: 7613, dtype: object

### Applying function to remove non english words.

In [38]:
# df["english_text"] = df["clean_text"].apply(lambda x:word_in_english_dictionary(x))
# df["english_text"]

0       Our Deeds are the Reason of this earthquake Ma...
1                       Forest fire near La Sask . Canada
2       All residents asked to in place are being noti...
3       13,000 people receive wildfires evacuation ord...
4       Just got sent this photo from Ruby Alaska as s...
                              ...
7604    Fallen on G link tram UPDATE FIRE crews have e...
7605    on the flip side I at Walmart and there is a b...
7606    Suicide bomber kills 15 in Saudi security site...
7608    Two giant cranes holding a bridge collapse int...
7612    The Latest More Homes Razed by Northern Califo...
Name: english_text, Length: 7503, dtype: object

False

In [11]:
# df[df["english_text"]==""]

In [13]:
# empty_text = df[df["text"]==""].index
# df.drop(empty_text,inplace=True)

In [23]:
df[["text","clean_text"]]

,text,clean_text
0,Our Deeds are the Reason of this #earthquake M...,"[our, deeds, are, the, reason, of, this, earth..."
1,Forest fire near La Ronge Sask. Canada,"[forest, fire, near, la, ronge, sask, ., canada]"
2,All residents asked to 'shelter in place' are ...,"[all, residents, asked, to, shelter, in, place..."
3,"13,000 people receive #wildfires evacuation or...","[13,000, people, receive, wildfires, evacuatio..."
4,Just got sent this photo from Ruby #Alaska as ...,"[just, got, sent, this, photo, from, ruby, ala..."
...,...,...
7604,#WorldNews Fallen powerlines on G:link tram: U...,"[worldnews, fallen, powerlines, on, g, :, link..."
7605,on the flip side I'm at Walmart and there is a...,"[on, the, flip, side, im, at, walmart, and, th..."
7606,Suicide bomber kills 15 in Saudi security site...,"[suicide, bomber, kills, 15, in, saudi, securi..."
7608,Two giant cranes holding a bridge collapse int...,"[two, giant, cranes, holding, a, bridge, colla..."
7612,The Latest: More Homes Razed by Northern Calif...,"[the, latest, :, more, homes, razed, by, north..."

### Step - b : Change all the text to lower case. This is required as python interprets 'dog' and 'DOG' differently

In [20]:
df['clean_text'] = [entry.lower() for entry in df['clean_text']]

### Step - c : Tokenization : In this each entry in the df will be broken into set of words

In [21]:
df['clean_text']= [word_tokenize(entry) for entry in df['clean_text']]
df["clean_text"]

0       [our, deeds, are, the, reason, of, this, earth...
1        [forest, fire, near, la, ronge, sask, ., canada]
2       [all, residents, asked, to, shelter, in, place...
3       [13,000, people, receive, wildfires, evacuatio...
4       [just, got, sent, this, photo, from, ruby, ala...
                              ...
7604    [worldnews, fallen, powerlines, on, g, :, link...
7605    [on, the, flip, side, im, at, walmart, and, th...
7606    [suicide, bomber, kills, 15, in, saudi, securi...
7608    [two, giant, cranes, holding, a, bridge, colla...
7612    [the, latest, :, more, homes, razed, by, north...
Name: clean_text, Length: 7503, dtype: object

In [29]:
df.drop(df[df["text"].isna()==True].index,inplace=True)
df["text"]

0       [our, deeds, are, the, reason, of, this, earth...
1               [forest, fire, near, la, sask, ., canada]
2       [all, residents, asked, to, in, place, are, be...
3       [13,000, people, receive, wildfires, evacuatio...
4       [just, got, sent, this, photo, from, ruby, ala...
                              ...
7608    [two, giant, cranes, holding, a, bridge, colla...
7609    [the, out, of, control, wild, fires, in, calif...
7610                     [utc, s, of, volcano, hawaii, .]
7611    [police, investigating, after, an, e-bike, col...
7612    [the, latest, more, homes, razed, by, northern...
Name: text, Length: 7606, dtype: object

In [22]:
# df["text"]

0       [our, deeds, are, the, reason, of, this, earth...
1               [forest, fire, near, la, sask, ., canada]
2       [all, residents, asked, to, in, place, are, be...
3       [13,000, people, receive, wildfires, evacuatio...
4       [just, got, sent, this, photo, from, ruby, ala...
                              ...
421                                                   NaN
433                                                   NaN
823                                                   NaN
5115                                                  NaN
5331                                                  NaN
Name: text, Length: 7613, dtype: object

### Words non existent in english dictionary, website links removed

In [24]:
# WordNetLemmatizer requires Pos tags to understand if the word is noun or verb or adjective etc. By default it is set to Noun
df["text_final"]=""
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV
for index,entry in enumerate(df['clean_text']):
    # Declaring Empty List to store the words that follow the rules for this step
    Final_words = []
    # Initializing WordNetLemmatizer()
    word_Lemmatized = WordNetLemmatizer()
    # pos_tag function below will provide the 'tag' i.e if the word is Noun(N) or Verb(V) or something else.
#     print(index,entry)
    for word, tag in pos_tag(entry):
#         print(word, tag)
#         Below condition is to check for Stop words and consider only alphabets
        if word not in stopwords.words('english') and word.isalpha() and word!="http" :
            word_Final = word_Lemmatized.lemmatize(word,tag_map[tag[0]])
            Final_words.append(word_Final)
            
    # The final processed set of words for each iteration will be stored in 'text_final'
    
#     print(Final_words)

#     #getting bigrams
#     bigram_list = []
#     bigrams = ngrams(Final_words, 2)   
#     for words in bigrams:
#         bigram_list.append(combine_text(words))
#     df.loc[index,"bigram"] = str(bigram_list)
#     val=""
#     if Final_words!=[]:
#         val = combine_text(Final_words)
#     df.loc[index,'text_final'] = str(Final_words)
    df["text_final"].iloc[index]=str(Final_words)
#     if len(Final_words)==0:
#         print(index,df["text"][index])

C:\Users\srija\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [106]:
empty_text = df[df["text_final"]==""].index
df.drop(empty_text,inplace=True)

Int64Index([], dtype='int64')

In [25]:
df

,id,keyword,location,text,target,clean_text,text_final
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[our, deeds, are, the, reason, of, this, earth...","['deed', 'reason', 'earthquake', 'may', 'allah..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[forest, fire, near, la, ronge, sask, ., canada]","['forest', 'fire', 'near', 'la', 'ronge', 'sas..."
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[all, residents, asked, to, shelter, in, place...","['resident', 'ask', 'shelter', 'place', 'notif..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[13,000, people, receive, wildfires, evacuatio...","['people', 'receive', 'wildfire', 'evacuation'..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[just, got, sent, this, photo, from, ruby, ala...","['get', 'send', 'photo', 'ruby', 'alaska', 'sm..."
...,...,...,...,...,...,...,...
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1,"[worldnews, fallen, powerlines, on, g, :, link...","['worldnews', 'fall', 'powerlines', 'g', 'link..."
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1,"[on, the, flip, side, im, at, walmart, and, th...","['flip', 'side', 'im', 'walmart', 'bomb', 'eve..."
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1,"[suicide, bomber, kills, 15, in, saudi, securi...","['suicide', 'bomber', 'kill', 'saudi', 'securi..."
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1,"[two, giant, cranes, holding, a, bridge, colla...","['two', 'giant', 'crane', 'hold', 'bridge', 'c..."
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1,"[the, latest, :, more, homes, razed, by, north...","['late', 'home', 'raze', 'northern', 'californ..."

In [101]:
test['text'].dropna(inplace=True)

In [102]:
test["text"] = [word_tokenize(entry) for entry in test['text']]

In [103]:
test["text"] = test["text"].apply(lambda x:word_in_english_dictionary(x))

In [104]:
test['text'] = [entry.lower() for entry in test['text']]

In [105]:
test['text']= [word_tokenize(entry) for entry in test['text']]

In [106]:
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV
for index,entry in enumerate(test['text']):
    # Declaring Empty List to store the words that follow the rules for this step
    Final_words = []
    # Initializing WordNetLemmatizer()
    word_Lemmatized = WordNetLemmatizer()
    # pos_tag function below will provide the 'tag' i.e if the word is Noun(N) or Verb(V) or something else.
    for word, tag in pos_tag(entry):
        # Below condition is to check for Stop words and consider only alphabets
        if word not in stopwords.words('english') and word.isalpha()  and word!="http":
            word_Final = word_Lemmatized.lemmatize(word,tag_map[tag[0]])
            Final_words.append(word_Final)
    # The final processed set of words for each iteration will be stored in 'text_final'
    test.loc[index,'text_final'] = str(Final_words)

In [302]:
test

,id,keyword,location,text,text_final
0,0,NaN,NaN,"[just, happened, a, terrible, car, crash]","['happen', 'terrible', 'car', 'crash']"
1,2,NaN,NaN,"[heard, about, #, earthquake, is, different, c...","['heard', 'earthquake', 'different', 'city', '..."
2,3,NaN,NaN,"[there, is, a, forest, fire, at, spot, pond, ,...","['forest', 'fire', 'spot', 'pond', 'geese', 'f..."
3,9,NaN,NaN,"[apocalypse, lighting, ., #, spokane, #, wildf...","['apocalypse', 'light', 'spokane', 'wildfire']"
4,11,NaN,NaN,"[typhoon, soudelor, kills, 28, in, china, and,...","['typhoon', 'soudelor', 'kill', 'china', 'taiw..."
...,...,...,...,...,...
3258,10861,NaN,NaN,"[earthquake, safety, los, angeles, ûò, safety...","['earthquake', 'safety', 'los', 'angeles', 'sa..."
3259,10865,NaN,NaN,"[storm, in, ri, worse, than, last, hurricane, ...","['storm', 'ri', 'bad', 'last', 'hurricane', 'c..."
3260,10868,NaN,NaN,"[green, line, derailment, in, chicago, http, :...","['green', 'line', 'derailment', 'chicago']"
3261,10874,NaN,NaN,"[meg, issues, hazardous, weather, outlook, (, ...","['meg', 'issue', 'hazardous', 'weather', 'outl..."
3262,10875,NaN,NaN,"[#, cityofcalgary, has, activated, its, munici...","['cityofcalgary', 'activate', 'municipal', 'em..."

In [303]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          7613 non-null   int64
 1   keyword     7613 non-null   object
 2   location    7613 non-null   object
 3   text        7613 non-null   object
 4   target      7613 non-null   int64
 5   text_final  7613 non-null   object
dtypes: int64(2), object(4)
memory usage: 357.0+ KB

### Vectorizing: TFIDF

In [107]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [134]:
vectorizer = TfidfVectorizer(ngram_range=(1,2), max_features=10000)
X = vectorizer.fit_transform(df["text_final"])
tfidf_tokens = vectorizer.get_feature_names()
df_tfidfvect = pd.DataFrame(data = X.toarray(),columns = tfidf_tokens)
df_tfidfvect

,aa,ab,aba,aba woman,abandon,abandon aircraft,abbott,abbswinston,abbswinston zionist,abc,...,zippednews,zipper,zipper bag,zombie,zombie apocalypse,zone,zone come,zone dont,zouma,zouma flatten
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.282141,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Word Embeddings
#### 1.Tokenize the sentences into words.
#### 2.Create one-hot encoded vector for each word.
#### 3.Use padding to ensure all sequences are of same length.
#### 4.Pass the padded sequences as input to embedding layer.
#### 5.Flatten and apply Dense layer to predict the label.

In [26]:
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten,Embedding,Dense

In [31]:
Vocab_size=10000
encoded_tweets = [one_hot(d,Vocab_size) for d in df["text_final"].values]
encoded_tweets[:10]

[[7399, 2359, 7385, 2507, 6219, 5209, 7776],
 [2943, 8710, 9591, 1101, 5547, 5890, 9207],
 [9101, 8554, 4818, 582, 1827, 7507, 765, 4818, 582, 431, 2571],
 [9508, 7518, 4696, 765, 431, 3255],
 [5965, 9478, 270, 8227, 1353, 5348, 4696, 53, 7995],
 [8869, 9950, 3255, 2061, 5000, 1521, 5475, 3, 9441, 8710, 550, 4696],
 [3352, 7989, 9304, 6728, 5378, 2044, 3192, 6026, 7897, 1450, 5346, 6477],
 [8585, 5554, 249, 9491, 8710, 2542],
 [8342, 3176, 765, 676, 6347, 4761, 6026],
 [8585, 4084, 5878, 9900, 6477]]

In [30]:
df["text_final"].values[:10]

array(["['deed', 'reason', 'earthquake', 'may', 'allah', 'forgive', 'u']",
       "['forest', 'fire', 'near', 'la', 'ronge', 'sask', 'canada']",
       "['resident', 'ask', 'shelter', 'place', 'notify', 'officer', 'evacuation', 'shelter', 'place', 'order', 'expect']",
       "['people', 'receive', 'wildfire', 'evacuation', 'order', 'california']",
       "['get', 'send', 'photo', 'ruby', 'alaska', 'smoke', 'wildfire', 'pour', 'school']",
       "['rockyfire', 'update', 'california', 'hwy', 'close', 'direction', 'due', 'lake', 'county', 'fire', 'cafire', 'wildfire']",
       "['flood', 'disaster', 'heavy', 'rain', 'cause', 'flash', 'flooding', 'street', 'manitou', 'colorado', 'spring', 'area']",
       "['im', 'top', 'hill', 'see', 'fire', 'wood']",
       "['there', 'emergency', 'evacuation', 'happen', 'building', 'across', 'street']",
       "['im', 'afraid', 'tornado', 'come', 'area']"], dtype=object)

In [37]:
max_length = max( (x) for x in encoded_tweets[:100])
padded_tweets = pad_sequences(encoded_tweets[:100],maxlen=max_length,padding='post')
padded_reviews[:10]

i

TypeError: 'list' object cannot be interpreted as an integer

In [314]:
cols=[ 'word_count', 'url_count', 'mean_word_length','punctuation_count', 'hashtag_count', 'mention_count']
df.shape,df_tfidfvect.shape
d = df[df["text_final"].isna()==False]

In [315]:
df_final = pd.concat([df_tfidfvect, d[cols]],axis=1)
df_final.drop_duplicates(subset=None, keep='first', inplace=False)

,aa,ab,aba,aba woman,abandon,abandon aircraft,abbott,abc,abc news,abc online,...,zombie,zombie apocalypse,zone,zone come,word_count,url_count,mean_word_length,punctuation_count,hashtag_count,mention_count
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,13.0,0.0,4.384615,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,4.571429,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,22.0,0.0,5.090909,3.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,7.125000,2.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,16.0,0.0,4.500000,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,0.0,6.166667,3.0,1.0,0.0
7492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,26.0,0.0,3.692308,7.0,0.0,0.0
7493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.0,0.0,7.538462,5.0,1.0,3.0
7494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.0,1.0,5.052632,8.0,0.0,0.0
7495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,1.0,6.833333,5.0,0.0,0.0

(5307, (7613, 5300))

In [163]:
# df_final.drop(["bigram","text_final","text_space","target","text"], axis=1, inplace=True)
df_final

,aa,aba,aba woman,abandon,abandon aircraft,abbott,abc,abc news,abe,ability,...,zone come,word_count,unique_word_count,stop_word_count,url_count,mean_word_length,char_count,punctuation_count,hashtag_count,mention_count
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,13,13,6,0,4.384615,69,1,1,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,7,7,0,0,4.571429,38,1,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,22,20,11,0,5.090909,133,3,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,8,8,1,0,7.125000,65,2,1,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,16,15,7,0,4.500000,88,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,11,11,2,1,6.636364,83,5,0,0
7609,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,20,17,9,0,5.300000,125,5,0,2
7610,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,8,8,2,1,7.250000,65,11,0,0
7611,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,19,19,5,0,6.263158,137,5,0,0
7612,0.0,0.0,0.0,0.0,0.0,0.0,0.279142,0.296183,0.0,0.0,...,0.0,13,13,3,1,6.307692,94,7,0,0

### Other Vectorizing approach: Countvectorizer

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range= (1, 2))
X = vectorizer.fit_transform(df["text_final"])
df_countvec = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
df_countvec

,aa,aa battery,aa mgm,aa plan,ab,ab resin,aba,aba woman,abandon,abandon aircraft,...,zone move,zone outside,zone power,zone rove,zone thank,zone war,zoom,zoom one,zurich,zurich swiss
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7610,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7611,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
df_countvec[df_countvec["accident"]>1]
df.iloc[71]["text_final"]

"['speed', 'among', 'top', 'cause', 'teen', 'accident', 'car', 'accident']"

In [124]:
countvec_measure = df_countvec.sum()
countvec_measure
indeces = countvec_measure[countvec_measure>2].index
indeces

Index(['aa', 'aba', 'aba woman', 'abandon', 'abandon aircraft', 'abbott',
       'abc', 'abc news', 'abe', 'ability',
       ...
       'youtube playlist', 'youtube video', 'yr', 'zero', 'zionist',
       'zionist terrorist', 'zombie', 'zombie apocalypse', 'zone',
       'zone come'],
      dtype='object', length=5290)

In [315]:
# feature_array = np.array(tfidf_tokens)
# tfidf_sorting = np.argsort(vectorizer.transform(all_words[:15000]).toarray()).flatten()[::-1]

# n = 10000

# top_n = feature_array[tfidf_sorting][:n]
# top_n

In [294]:
df["text_final"]

0       ['deed', 'reason', 'earthquake', 'may', 'allah...
1       ['forest', 'fire', 'near', 'la', 'sask', 'cana...
2       ['resident', 'ask', 'place', 'notify', 'office...
3       ['people', 'receive', 'wildfire', 'evacuation'...
4       ['get', 'send', 'photo', 'ruby', 'alaska', 'sm...
                              ...
7608    ['two', 'giant', 'crane', 'hold', 'bridge', 'c...
7609    ['control', 'wild', 'fire', 'california', 'eve...
7610                         ['utc', 'volcano', 'hawaii']
7611    ['police', 'investigate', 'collided', 'car', '...
7612    ['late', 'home', 'raze', 'northern', 'californ...
Name: text_final, Length: 7613, dtype: object

In [285]:
df_tfidfvect

(0.9001274762176957, 0.45006373810884787, 2.179506868842596)

In [232]:
df_tfidfvect.columns[-50:]

Index(['zimmerman fan', 'zimmerman zimmerman', 'zionism', 'zionism stop',
       'zionism zionism', 'zionist', 'zionist terrorist', 'zionist zionist',
       'zionists', 'zionists revere', 'zionists zionists', 'zip', 'zip body',
       'zip po', 'zip zip', 'zipper', 'zipper bag', 'zipper zipper', 'zodiac',
       'zodiac girl', 'zombie', 'zombie apocalypse', 'zombie feel',
       'zombie fun', 'zombie take', 'zombie zombie', 'zone', 'zone alaska',
       'zone come', 'zone common', 'zone cut', 'zone dust', 'zone egg',
       'zone everyone', 'zone god', 'zone homies', 'zone johnny', 'zone move',
       'zone outside', 'zone power', 'zone rove', 'zone thank', 'zone war',
       'zone zone', 'zoom', 'zoom one', 'zoom zoom', 'zurich', 'zurich swiss',
       'zurich zurich'],
      dtype='object')

In [137]:
df['text_final'][0],df['text_final'][1]

("['deed', 'reason', 'earthquake', 'may', 'allah', 'forgive', 'u']",
 "['forest', 'fire', 'near', 'la', 'sask', 'canada']")

In [135]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(df_tfidfvect,df['target'],test_size=0.2)

In [317]:
Train_X

,aa,ab,aba,aba woman,abandon,abandon aircraft,abbott,abc,abc news,abc online,...,zionism,zionist,zionist terrorist,zip,zipper,zipper bag,zombie,zombie apocalypse,zone,zone come
4502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6578,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4064,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3257,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
# X_test = test[["text_final"]]
# X_test

In [136]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)
Train_Y.shape

(6002,)

In [113]:
# Tfidf_vect = TfidfVectorizer(max_features=5000)
# Tfidf_vect.fit(df['text_final'])
# Train_X_Tfidf = Tfidf_vect.transform(Train_X)
# Test_X_Tfidf = Tfidf_vect.transform(Test_X)
# X_test_Tfidf = Tfidf_vect.transform(X_test)

In [128]:
# Train_X.shape

In [137]:
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X,Train_Y)

# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X)
# Use accuracy_score function to get the accuracy
print("Naive Bayes Accuracy Score -> ", accuracy_score(predictions_NB, Test_Y)*100)
cross_val_score(Naive, Train_X, Train_Y, cv=5)
# predictions_NB = Naive.predict(X_test_Tfidf)

Naive Bayes Accuracy Score ->  80.4796802131912

array([0.79600333, 0.80266445, 0.80166667, 0.7875    , 0.79      ])

In [53]:
# Classifier - Algorithm - SVM
# fit the training dataset on the classifier
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X,Train_Y)

# predict the labels on validation dataset
predictions_SVM = SVM.predict(Test_X)
# Use accuracy_score function to get the accuracy
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)
# predictions_SVM

# predictions_SVM = SVM.predict(X_test_Tfidf)

SVM Accuracy Score ->  80.3676953381484

In [138]:
from sklearn.linear_model import LogisticRegression
LogisticRegression = LogisticRegression(random_state = 0)
LogisticRegression.fit(Train_X,Train_Y)
lr = LogisticRegression.predict(Test_X)
print("LogisticRegression Accuracy Score -> ",accuracy_score(lr, Test_Y)*100)
cross_val_score(LogisticRegression, Train_X, Train_Y, cv=5)
# predictions_lr = LogisticRegression.predict(X_test_Tfidf)

LogisticRegression Accuracy Score ->  81.21252498334444

array([0.80016653, 0.79600333, 0.79916667, 0.79083333, 0.795     ])

In [140]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
KNeighborsClassifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
KNeighborsClassifier.fit(Train_X,Train_Y)
knn = KNeighborsClassifier.predict(Test_X)
print("KNeighborsClassifier Accuracy Score -> ",accuracy_score(knn, Test_Y)*100)
cross_val_score(KNeighborsClassifier, Train_X, Train_Y, cv=5)
# knn = KNeighborsClassifier.predict(X_test_Tfidf)

KNeighborsClassifier Accuracy Score ->  65.62291805463025

array([0.65778518, 0.61032473, 0.65916667, 0.63333333, 0.64916667])

In [56]:
# from sklearn.naive_bayes import GaussianNB
# c3 = GaussianNB()
# c3.fit(Train_X_Tfidf,Train_Y)
# y_pred = c3.predict(Test_X_Tfidf)
# print("GaussianNB Accuracy Score -> ",accuracy_score(y_pred, Test_Y)*100)

In [139]:
from sklearn.tree import DecisionTreeClassifier
DecisionTreeClassifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
DecisionTreeClassifier.fit(Train_X,Train_Y)
dt = DecisionTreeClassifier.predict(Test_X)
print("DecisionTreeClassifier acc score/ -> ",accuracy_score(dt, Test_Y)*100)
cross_val_score(DecisionTreeClassifier, Train_X,Train_Y, cv=5)
# dt = DecisionTreeClassifier.predict(X_test_Tfidf)

DecisionTreeClassifier acc score/ ->  75.21652231845437

array([0.74771024, 0.72189842, 0.70416667, 0.72416667, 0.73      ])

In [141]:
from sklearn.ensemble import RandomForestClassifier
RandomForestClassifier = RandomForestClassifier(n_estimators = 40, criterion = 'entropy', random_state = 0)
RandomForestClassifier.fit(Train_X,Train_Y)
y_pred = RandomForestClassifier.predict(Test_X)
print("RandomForestClassifier Accuracy Score -> ",accuracy_score(y_pred, Test_Y)*100)
cross_val_score(RandomForestClassifier, Train_X,Train_Y, cv=5)
# rf = RandomForestClassifier.predict(X_test_Tfidf)

RandomForestClassifier Accuracy Score ->  77.81479013990673

array([0.79766861, 0.76602831, 0.7875    , 0.77833333, 0.7775    ])

## Hyperparameter Tuning
### Random Search

In [146]:
# define models
# ridge = linear_model.Ridge()
# lasso = linear_model.Lasso()
# elastic = linear_model.ElasticNet()
# lasso_lars = linear_model.LassoLars()
# bayesian_ridge = linear_model.BayesianRidge()
# logistic = LogisticRegression(random_state = 0)
# sgd = linear_model.SGDClassifier()

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
penalty = ['l1', 'l2']
C = [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000]
class_weight = [{1:0.5, 0:0.5}]
solver = ['liblinear', 'saga']

param_grid = dict(penalty=penalty,
                  C=C,
                  class_weight=class_weight,
                  solver=solver)

grid = GridSearchCV(estimator=LogisticRegression,
                    param_grid=param_grid,
                    scoring='roc_auc',
                    verbose=1,
                    n_jobs=-1)
grid_result = grid.fit(Train_X, Train_Y)

# random = RandomizedSearchCV(estimator=LogisticRegression,
#                             param_distributions=param_distributions,
#                             scoring='roc_auc',
#                             verbose=1, n_jobs=-1,
#                             n_iter=1000)
# random_result = random.fit(Train_X, Train_Y)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

### Grid Search CV

In [134]:
y_pred,Test_Y,df["text_final"][2313]

(array([0, 0, 0, ..., 0, 1, 1], dtype=int64),
 array([0, 0, 0, ..., 0, 1, 0], dtype=int64),
 "['finally', 'demolish', 'spring', 'property', 'sit', 'vacant', 'since']")

In [330]:
pred_df = pd.DataFrame({"Id":test["id"],
                       "target":(predictions_SVM)})
pred_df

         Id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       0

[3263 rows x 2 columns]

In [331]:
pred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB

In [332]:
pred_df.to_csv("export.csv",index=False)

In [ ]:
pd.read_csv("export.csv")